/* #region GENERAL */

    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        margin: 0;
        font-family: 'Montserrat',sans-serif;
        font-size: 16px;
    }

    ul{
        list-style: none;
        padding-left: 0px;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'open sans', sans-serif;
        transition: all ease-in-out 0.2s;
    }

    a:hover{
        color: #276a7c;
        transition: all ease-in-out 0.2s;
    }

    .lienBouton{
        padding: 13px 25px;
        background-color: white;
        color: #276a7c;
    }

    .lienBouton:hover{
        background-color: #276a7c;
        color: white;
    }

/*  #endregion GENERAL */



/*  #region HEADER */
    header{
        display: flex;
        max-width: 1440px;
        padding: 10px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    header #burgerMenu{
        display: none;
    }

    header img{
        width: 200px;
        padding-right: 110px;
    }

    header ul{
        display: flex;
        gap: 100px;
    }

/*  #endregion HEADER */



/*  #region MAIN */

/*  #endregion MAIN */



/*  #region FOOTER */
    
    footer{
        background-color: #276a7c;
        padding: 10px;
        text-align: center;
    }

    footer div{
        max-width: 1440px;
        margin: auto;
    }
    footer a,p{
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    footer a:hover{
        color: #6EC1E4;
    }
/*  #endregion FOOTER */



/*  #region Responsive TABLET */

/*  #endregion Responsive TABLET */




/*  #region Responsive PHONE */

/*  #endregion Responsive PHONE */