/* #region GENERAL */

    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        margin: 0;
        font-family: 'Montserrat',sans-serif;
        font-size: 16px;
        box-sizing: border-box;
    }

    ul{
        list-style: none;
        padding-left: 0px;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'open sans', sans-serif;
        transition: all ease-in-out 0.2s;
    }

    a:hover{
        color: #276a7c;
        transition: all ease-in-out 0.2s;
    }

    .lienBoutonBlanc{
        padding: 13px 25px;
        background-color: white;
        color: #276a7c;
        border: solid 1px white;
        font-weight: 500;
    }

    .lienBoutonBlanc:hover{
        background-color: #276a7c;
        color: white;
        padding: 16px 30px;
        font-size: 18px;
    }

    .lienBoutonBleu{
        padding: 13px 25px;
        background-color: #276a7c;
        color: white;
        border: solid 1px #276a7c;
        font-weight: 500;
    }

    .lienBoutonBleu:hover{
        background-color: #276a7c;
        color: white;
        padding: 16px 30px;
        font-size: 18px;
    }

    h1{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        position: relative;
        top: -30px;
        color: white;
    }

    .montserrat{
        font-family: 'Montserrat',sans-serif;
    }


/*  #endregion GENERAL */



/*  #region HEADER */
    header{
        display: flex;
        max-width: 1440px;
        padding: 8px 10px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    header #burgerMenu{
        display: none;
    }

    header img{
        width: 200px;
    }

    header ul{
        display: flex;
    }

    header  nav a{
        padding: 50px ;
    }

    header nav a:hover{
        background-color: #276a7c;
        color: white;
   
    }

/*  #endregion HEADER */



/*  #region MAIN */

    #sectionTitreReuil{
        background-image: url(../IMG/SectionTitreRueil/bgLocaux.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 700px;
        text-align: center;
        display: flex;
    }

    #sectionTitreReuil div{
        background-color: #27697CE3;
        max-width: 600px;
        margin: auto;
        padding: 50px 0px;
    }

    #btnReuil{
        font-family: 'roboto', sans-serif;
    }

    #sectionTitreReuil p{
        padding-bottom: 50px;
        font-size: 18px;
        font-weight: 600;
    }
/*  #endregion MAIN */



/*  #region FOOTER */
    
    footer{
        background-color: #276a7c;
        padding: 10px;
        text-align: center;
    }

    footer div{
        max-width: 1440px;
        margin: auto;
    }
    footer a,p{
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    footer a:hover{
        color: #6EC1E4;
    }
/*  #endregion FOOTER */



/*  #region Responsive TABLET */

/*  #endregion Responsive TABLET */




/*  #region Responsive PHONE */

/*  #endregion Responsive PHONE */