/* #region GENERAL */

    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        margin: 0;
        font-family: 'Montserrat',sans-serif;
        font-size: 16px;
        box-sizing: border-box;
    }

    ul{
        list-style: none;
        padding-left: 0px;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'open sans', sans-serif;
        transition: all ease-in-out 0.2s;
    }

    a:hover{
        color: #276a7c;
        transition: all ease-in-out 0.2s;
    }

    .lienBoutonBlanc{
        padding: 13px 25px;
        background-color: white;
        color: #276a7c;
        border: solid 1px white;
        font-weight: 500;
    }

    .lienBoutonBlanc:hover{
        background-color: #276a7c;
        color: white;
        padding: 16px 30px;
        font-size: 18px;
    }

    .lienBoutonBleu{
        padding: 13px 25px;
        background-color: #276a7c;
        color: white;
        border: solid 1px #276a7c;
        font-weight: 500;
    }

    .lienBoutonBleu:hover{
        background-color: white;
        color: #276a7c;
        padding: 16px 30px;
        font-size: 18px;
    }

    h1{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        position: relative;
        top: -30px;
        color: white;
    }

    h2{
        font-size: 20px;
        color: #276a7c;
        font-weight: 600;
        line-height: 23px;

    } 
    
    h3{
        font-size: 30px;
        font-weight: 700;
        line-height: 34.5px;
        text-transform: uppercase;
    }

    .montserrat{
        font-family: 'Montserrat',sans-serif;
    }

    p{
        color: black;
        font-family: 'open sans' , sans-serif;
    }


/*  #endregion GENERAL */



/*  #region HEADER */
    header{
        display: flex;
        max-width: 1440px;
        padding: 8px 10px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    header #burgerMenu{
        display: none;
    }

    header img{
        width: 200px;
    }

    header ul{
        display: flex;
    }

    header  nav a{
        padding: 50px ;
        text-transform: uppercase;
    }

    header nav a:hover{
        background-color: #276a7c;
        color: white;
   
    }

/*  #endregion HEADER */



/*  #region MAIN */
   
    /* #region section 1 */
        #sectionTitreReuil{
            background-image: url(../IMG/SectionTitreRueil/bgLocaux.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 700px;
            text-align: center;
            display: flex;
        }

        #sectionTitreReuil div{
            background-color: #27697CE3;
            max-width: 600px;
            margin: auto;
            padding: 50px 0px;
        }

        #btnReuil{
            font-family: 'roboto', sans-serif;
        }

        #sectionTitreReuil p{
            padding-bottom: 50px;
            font-size: 18px;
            font-weight: 600;
            color: white;
        }
    /* #endregion section 1 */


    /* #region section 2 */
        #sectionBureauxRueil{
            display: flex;
            flex-wrap: wrap;
            max-width: 1440px;
            margin: auto;
            padding: 100px 15px;
            justify-content: center;
        }
        
        #sectionBureauxRueil h3{
            padding-bottom: 40px;
        }        
        
        #sectionBureauxRueil h2{
            padding-top: 40px;
        }

        #sectionBureauxRueil #topPart{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 650px;
        }
        
        #sectionBureauxRueil #topPart article{
            max-width: 640px;
        } 
        
        #sectionBureauxRueil #topPart article a{
            margin-left: 70px;
        }

        #sectionBureauxRueil #topPart img{
            width: 100%;
            height: 650px;
            object-fit: cover;
        }

        #sectionBureauxRueil #bottomPart{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            gap: 180px;
            padding-top: 100px;
        }

        #sectionBureauxRueil #bottomPart img{
            width: 50px;       
        }

        #sectionBureauxRueil #bottomPart #sacoche{
            width: 62px;
        }

        #sectionBureauxRueil #bottomPart #pGras{
            font-weight: 600;
            padding-top: 15px;
        }

        #pDetailRueil{
            display: flex;
            gap: 20px;
        }

        #pDetailRueil p{
            max-width: 500px;
            padding-bottom: 40px;
            line-height: 32px;
        }

        #pDetailRueil hr {
            height: 1px;
            width: 50px;
            border: none;
            margin: 10px 0px;
            background-color: #27697C;
        }


    /* #endregion section 2 */


    /* #region section 3 */
        #sectionBureauxMeaux{
            background-color: #27697C;
        }

        #sectionBureauxMeaux h2,
        #sectionBureauxMeaux h3, 
        #sectionBureauxMeaux p{
            color: white;
        }

        #sectionBureauxMeaux p{
            padding-bottom: 20px;
            line-height: 32px;
        }        
        
        #sectionBureauxMeaux #espaceLien {
            padding-bottom: 60px;
        }

        #sectionBureauxMeaux h3{
            padding-bottom: 50px;
        }

        #sectionBureauxMeaux #contenuSection{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1440px;
            margin: auto;
            gap: 60px;
            padding: 100px 15px;
        }

        #sectionBureauxMeaux #contenuSection #gridPhotoMeaux{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 225px;
            gap:20px;
        }

        #sectionBureauxMeaux img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #photoDouble{
            grid-column: 1/3;
        }

        #sectionBureauxMeaux article{
            margin: 0px 80px;
        }
    /* #endregion section 3 */


    /* #region section 4 */
        #sectionBureauxALouer{
            padding: 150px 15px;
            max-width: 1440px;
            margin: auto;
            text-align: center;
        }

        #sectionBureauxALouer article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            justify-content: center;
            padding: 40px 0px 80px 0px;
        }

        #sectionBureauxALouer article img{
            max-width: 100%;
            padding-bottom: 20px;
        }

        #sectionBureauxALouer h3{
            padding-bottom: 50px;
        }
    /* #endregion section 4 */    
    
    
    /* #region section 5 */
        #sectionContact{
            background-color: #859399;
            padding: 100px 0px;
            color: white;
        }

        #contactContent h2, #contactContent h3{
            color: white;
        }

        #contactContent h3{
            padding-bottom: 40px;
        }

        #contactContent{
            max-width: 680px;
            margin: auto;
            padding: 0px 15px;
        }

        input[type=text]{
            padding: 10px 18px;
            width: -webkit-fill-available;
            margin: 10px 0px;
            border: 1px solid #27697C;
        }

        form div{
            display: flex;
            gap: 20px;
        }
        textarea{
            resize: none;
            width: 100%;
            margin: 10px 0px;
            padding: 10px 18px;
            border: 1px solid #27697C;
        }

        input[type=submit]{
            margin: 20px 0px;
            border: 1px solid #27697C;
            transition: all ease-in-out 0.2s;
        }
        
        input[type=submit]:hover{
            transition: all ease-in-out 0.2s;
        }
    /* #endregion section 5 */
    
/*  #endregion MAIN */



/*  #region FOOTER */
    
    footer{
        background-color: #276a7c;
        padding: 10px;
        text-align: center;
    }

    footer div{
        max-width: 1440px;
        margin: auto;
    }
    footer a, footer p{
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    footer a:hover{
        color: #6EC1E4;
    }
/*  #endregion FOOTER */



/*  #region Responsive TABLET */
    @media  screen and (max-width:1024px) {
        nav ul{
            display: none;
        }

        header #burgerMenu{
            display: flex;
            font-size: 20px;
            color: #27697C;
        }
        
        #sectionBureauxRueil #topPart{
            grid-template-columns: 1fr;
            height: 100%;
        }

        #sectionBureauxRueil #topPart article{
            max-width: 1020px;
            margin: 0px 15px;
        }

        #sectionBureauxRueil #topPart img{
            margin-top: 60px;
            height: 100%;
        }

        #sectionBureauxRueil #bottomPart {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        #sectionBureauxRueil {
            display: grid;
            padding: 100px 0px;
        }

        #sectionBureauxMeaux #contenuSection {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        #sectionTitreReuil{
            background-attachment: local;
        }

    }
/*  #endregion Responsive TABLET */




/*  #region Responsive PHONE */

/*  #endregion Responsive PHONE */



/* fix bouton padding + ajouter menu deroulant burgermenu */